@layer primereact, tailwind-utilities;

@import 'primereact/resources/themes/lara-dark-blue/theme.css';
@import 'primeicons/primeicons.css';

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

html {
    background-color: #101316;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}
